* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}


/* 
 ! ------:Measuring Units:-----
    ? 1. Relative Units: (Sizes are relative to something else)
        ^ 1. % --> Percentage --> Relative to parent element's size
        ^ 2. em  --> Font Size Of Self or Parent 16px Default --> Relative to the font size of the current element or its parent
        ^ 3. rem --> Font Size Of Root 16px Default --> Relative to the font size of the root element (usually the <html> tag)
        ^ 4. vw --> Viewport Width --> Relative to the width of the viewport (the visible part of the web page)
        ^ 5. vh --> Viewport Height  --> Relative to the height of the viewport
        ^ 6. vmin --> Viewport Minimum  --> Relative to the smaller dimension of the viewport (width or height)
        ^ 7. vmax --> Viewport Maximum  --> Relative to the larger dimension of the viewport

    ? 2. Absolute Units: (Fixed sizes, not recommended for responsive design)
        ^ 1. Px --> Pixels --> Fixed size, one pixel on screen
        ^ 2. Pc --> Picas --> Fixed size, one-sixth of an inch
        ^ 3. Pt --> Points --> Fixed size, one seventy-second of an inch
        ^ 4. cm --> Centimeters --> Fixed size, relative to real-world units
        ^ 5. mm --> Millimeters --> Fixed size, smaller than centimeters
        ^ 6. in --> Inches --> Fixed size, relative to real-world units
*/

#Box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  background-color: white;
  color: black;
  flex-direction: column;

  height: 60vh;
  width: 50vw;

  font-size: 2vw;
}

#Box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: teal;

  height: 200px;
  width: 200px;

  font-size: 2em;
  height: 4em;
  width: 6em;
}
