body
{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}



nav
{
    
    color: white;
    padding: 10px 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul
{

    width: 450px;
    font-size: 23px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li:hover
{
    cursor: pointer;
    user-select: none;
    color: red;
}

main{
    /* border: 1px solid red; */
    height: 760px;
    display: flex;
}


#First
{
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */

    background-image: url("https://media.tenor.com/8m4sSqF0nGIAAAAi/hamburger-joypixels.gif");
    background-position: top;
    background-size: 70%;
    background-repeat: no-repeat;
}
#Second
{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  
}

#Content
{
    font-size: 30px;
    width: 60%;
    text-align: center;
    /* border: 2px solid red; */
}
#Content h1{
    color: rgb(222, 180, 11);
}

#Btn1
{
    padding: 10px 25px;
    border: none;
    background-color: rgb(255, 0, 89);
    color: white;
    border-radius: 25px;
}
#Btn2
{
    padding: 10px 25px;
    border: none;
    background-color: rgb(225, 221, 222);
    color: black;
    border-radius: 25px;
}